* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  padding: 60px;
  margin: 0 auto;
  width: 500px;
  height: 300px;
  border: 2px solid tomato;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

ul li {
  margin-left: 10px;
  margin-right: 10px;
  background-color: black;
  height: 100px;
  width: 100px;
  flex: 1 1 calc(33.333% - 20px);
}

@media (max-width: 800px) {
  ul {
    width: 300px;
  }

  ul li {
    height: 50px;
    width: 50px;
  }
}

.scaleRotated li:hover {
  animation: scaleRotated 5s;
  -webkit-animation: scaleRotated 5s;
  -moz-animation: scaleRotated 5s;
  -o-animation: scaleRotated 5s;
}

@-webkit-keyframes scaleRotated {
  10% {
    -webkit-transform: scale(1.2);
    background-color: tomato;
  }

  50% {
    -webkit-transform: scale(1.2) rotate(360deg);
    background-color: blue;
  }

  100% {
    -webkit-transform: scale(1.2) rotate(-360deg);
    background-color: blue;
  }
}
@-moz-keyframes scaleRotated {
  10% {
    -moz-transform: scale(1.2);
    background-color: tomato;
  }

  50% {
    -moz-transform: scale(1.2) rotate(360deg);
    background-color: blue;
  }

  100% {
    -moz-transform: scale(1.2) rotate(-360deg);
    background-color: blue;
  }
}
@-o-keyframes scaleRotated {
  10% {
    -o-transform: scale(1.2);
    background-color: tomato;
  }

  50% {
    -o-transform: scale(1.2) rotate(360deg);
    background-color: blue;
  }

  100% {
    -o-transform: scale(1.2) rotate(-360deg);
    background-color: blue;
  }
}

@keyframes scaleRotated {
  10% {
    transform: scale(1.2);
    background-color: tomato;
  }

  50% {
    transform: scale(1.2) rotate(360deg);
    background-color: blue;
  }

  100% {
    transform: scale(1.2) rotate(-360deg);
    background-color: blue;
  }
}

/* Segunda ul */
.transform-orign-scale li {
  animation: transform-orign-scale 10s;
  animation-iteration-count: infinite;
  -webkit-animation: transform-orign-scale 10s;
  -moz-animation: transform-orign-scale 10s;
  -o-animation: transform-orign-scale 10s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
}

@-webkit-keyframes transform-orign-scale {
  50% {
    -webkit-transform: scale(1.6);
    -webkit-transform-origin: top;
    background-color: red;
  }
  100% {
    -webkit-transform: scale(-1.6);
    background-color: blue;
    -webkit-transform-origin: right;
  }
}

@-moz-keyframes transform-orign-scale {
  50% {
    -moz-transform: scale(1.6);
    -moz-transform-origin: top;
    background-color: red;
  }
  100% {
    -moz-transform: scale(-1.6);
    background-color: blue;
    -moz-transform-origin: right;
  }
}

@-o-keyframes transform-orign-scale {
  50% {
    -o-transform: scale(1.6);
    -o-transform-origin: top;
    background-color: red;
  }
  100% {
    -o-transform: scale(-1.6);
    background-color: blue;
    -o-transform-origin: right;
  }
}

@keyframes transform-orign-scale {
  50% {
    transform: scale(1.6);
    transform-origin: top;
    background-color: red;
  }
  100% {
    transform: scale(-1.6);
    background-color: blue;
    transform-origin: left;
  }
}

.transform-orign-scale li:nth-child(2) {
  animation: transform-orign-scale02 10s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes transform-orign-scale02 {
  50% {
    -webkit-transform: scale(1.6);
    -webkit-transform-origin: top;
    background-color: yellow;
  }
  100% {
    -webkit-transform: scale(-1.6);
    background-color: orange;
    -webkit-transform-origin: center;
  }
}

@-moz-keyframes transform-orign-scale02 {
  50% {
    -moz-transform: scale(1.6);
    -moz-transform-origin: top;
    background-color: yellow;
  }
  100% {
    -moz-transform: scale(-1.6);
    background-color: orange;
    -moz-transform-origin: center;
  }
}

@-o-keyframes transform-orign-scale02 {
  50% {
    -o-transform: scale(1.6);
    transform-origin: top;
    background-color: yellow;
  }
  100% {
    -o-transform: scale(-1.6);
    background-color: orange;
    transform-origin: center;
  }
}

@keyframes transform-orign-scale02 {
  50% {
    transform: scale(1.6);
    transform-origin: top;
    background-color: yellow;
  }
  100% {
    transform: scale(-1.6);
    background-color: orange;
    transform-origin: center;
  }
}
.transform-orign-scale li:nth-child(3) {
  animation: transform-orign-scale03 10s;
  animation-iteration-count: infinite;
  -webkit-animation: transform-orign-scale03 10s;
  -moz-animation: transform-orign-scale03 10s;
  -o-animation: transform-orign-scale03 10s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
}

@-webkit-keyframes transform-orign-scale03 {
  50% {
    -webkit-transform: scale(1.6);
    -webkit-transform-origin: top;
    background-color: green;
  }
  100% {
    -webkit-transform: scale(-1.6);
    background-color: indigo;
    -webkit-transform-origin: right;
  }
}

@-moz-keyframes transform-orign-scale03 {
  50% {
    -moz-transform: scale(1.6);
    -moz-transform-origin: top;
    background-color: green;
  }
  100% {
    -moz-transform: scale(-1.6);
    background-color: indigo;
    -moz-transform-origin: right;
  }
}

@-o-keyframes transform-orign-scale03 {
  50% {
    -o-transform: scale(1.6);
    -o-transform-origin: top;
    background-color: green;
  }
  100% {
    -o-transform: scale(-1.6);
    background-color: indigo;
    -o-transform-origin: right;
  }
}

@keyframes transform-orign-scale03 {
  50% {
    transform: scale(1.6);
    transform-origin: top;
    background-color: green;
  }
  100% {
    transform: scale(-1.6);
    background-color: indigo;
    transform-origin: right;
  }
}

/* Terceira ul */

.translate li:hover {
  animation: topToBottom 5s;
  -webkit-animation: topToBottom 5s;
  -moz-animation: topToBottom 5s;
  -o-animation: topToBottom 5s;
}

@-webkit-keyframes topToBottom {
  25% {
    -webkit-transform: translate(0px, -30px);
    background-color: crimson;
    border-radius: 50%;
  }
  50% {
    -webkit-transform: translate(0px, 30px);
    border-radius: 50%;
    background-color: darkmagenta;
  }
}
@-moz-keyframes topToBottom {
  25% {
    -moz-transform: translate(0px, -30px);
    background-color: crimson;
    border-radius: 50%;
  }
  50% {
    -moz-transform: translate(0px, 30px);
    border-radius: 50%;
    background-color: darkmagenta;
  }
}
@-o-keyframes topToBottom {
  25% {
    -o-transform: translate(0px, -30px);
    background-color: crimson;
  }
  50% {
    -o-transform: translate(0px, 30px);
    background-color: darkmagenta;
  }
}
@keyframes topToBottom {
  25% {
    transform: translate(0px, -30px);
    background-color: crimson;
    border-radius: 50%;
  }
  50% {
    transform: translate(0px, 30px);
    border-radius: 50%;
    background-color: darkmagenta;
  }
}

.translate li:hover:nth-child(2) {
  animation: leftToRight 5s;
  -webkit-animation: leftToRight 5s;
  -moz-animation: leftToRight 5s;
  -o-animation: leftToRight 5s;
}

@-webkit-keyframes leftToRight {
  25% {
    -webkit-transform: translate(-30px, 0px);
    background-color: seagreen;
  }
  50% {
    -webkit-transform: translate(30px, 0px);
    background-color: yellow;
  }
}
@-moz-keyframes leftToRight {
  25% {
    -moz-transform: translate(-30px, 0px);
    background-color: seagreen;
  }
  50% {
    -moz-transform: translate(30px, 0px);
    background-color: yellow;
  }
}
@-o-keyframes leftToRight {
  25% {
    -o-transform: translate(-30px, 0px);
    background-color: seagreen;
  }
  50% {
    -o-transform: translate(30px, 0px);
    background-color: yellow;
  }
}
@keyframes leftToRight {
  25% {
    transform: translate(-30px, 0px);
    background-color: seagreen;
  }
  50% {
    transform: translate(30px, 0px);
    background-color: yellow;
  }
}

.translate li:hover:nth-child(3) {
  animation: rightToLeft 5s;
}

@-webkit-keyframes rightToLeft {
  25% {
    -webkit-transform: translate(30px, 0px);
    background-color: seagreen;
    border-radius: 50%;
  }
  50% {
    -webkit-transform: translate(-30px, 0px);
    background-color: yellow;
    border-radius: 50%;
  }
}
@-moz-keyframes rightToLeft {
  25% {
    -moz-transform: translate(30px, 0px);
    background-color: seagreen;
    border-radius: 50%;
  }
  50% {
    -moz-transform: translate(-30px, 0px);
    background-color: yellow;
    border-radius: 50%;
  }
}
@-o-keyframes rightToLeft {
  25% {
    -o-transform: translate(30px, 0px);
    background-color: seagreen;
    border-radius: 50%;
  }
  50% {
    -o-transform: translate(-30px, 0px);
    background-color: yellow;
    border-radius: 50%;
  }
}
@keyframes rightToLeft {
  25% {
    transform: translate(30px, 0px);
    background-color: seagreen;
    border-radius: 50%;
  }
  50% {
    transform: translate(-30px, 0px);
    background-color: yellow;
    border-radius: 50%;
  }
}

.image-scale {
  height: 250px;
  align-items: center;
}

.image-scale li {
  width: 0px;
  height: 0px;
}

.image-scale li img {
  display: block;
  max-width: 100%;
  animation: imageScale 5s infinite;
  -webkit-animation: imageScale 10s infinite;
  -moz-animation: imageScale10s infinite;
  -o-animation: imageScale 10s infinite;
}

@keyframes imageScale {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

@-moz-keyframes imageScale {
  0% {
    -moz-transform: scale(0.75);
  }
  20% {
    -moz-transform: scale(1);
  }
  40% {
    -moz-transform: scale(0.75);
  }
  60% {
    -moz-transform: scale(1);
  }
  80% {
    -moz-transform: scale(0.75);
  }
  100% {
    -moz-transform: scale(0.75);
  }
}

@-o-keyframes imageScale {
  0% {
    -o-transform: scale(0.75);
  }
  20% {
    -o-transform: scale(1);
  }
  40% {
    -o-transform: scale(0.75);
  }
  60% {
    -o-transform: scale(1);
  }
  80% {
    -o-transform: scale(0.75);
  }
  100% {
    -o-transform: scale(0.75);
  }
}

@-webkit-keyframes imageScale {
  0% {
    -webkit-transform: scale(0.75);
  }
  20% {
    -webkit-transform: scale(1);
  }
  40% {
    -webkit-transform: scale(0.75);
  }
  60% {
    -webkit-transform: scale(1);
  }
  80% {
    -webkit-transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(0.75);
  }
}
